name: ci

on:
    - push

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6.0.2

            - uses: erlef/setup-beam@v1.20.4

              with:
                  elixir-version: 1.17.x

                  otp-version: 27.x

            - run: mix deps.get

            - run: MIX_ENV=test mix compile --warnings-as-errors

            - run: mix test

    release:
        if: github.ref == 'refs/heads/main'

        needs:
            - test

        permissions:
            contents: write

            pull-requests: write

        runs-on: ubuntu-latest

        steps:
            - uses: googleapis/release-please-action@v4.4.0

              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
